<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.testcontainers" level="WARN"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="🐳 [mcr.microsoft.com/azure-storage/azurite:latest]" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>