name: Release

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    tags:
      - 'v*'
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Publish artifacts
    runs-on: ubuntu-latest
    timeout-minutes: 50
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: coursier/cache-action@v6

      - uses: olafurpg/setup-gpg@v3

      - name: CI Release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: sbt ci-release

  readme:
    name: Update Readme
    if: github.event_name == 'release'
    needs: [publish]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout current branch (fast)
        uses: actions/checkout@v3

      - uses: coursier/cache-action@v6

      - name: Generate updated README.md
        run: sbt 'docs/mdoc --out .'

      - uses: EndBug/add-and-commit@v9
        with:
          message: Update readme for released version
          add: README.md
          ref: master
